

        <section class="section-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-content">



                            <article class="post-wrapper transition mb-20">
                              <div class="transition">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- honeyfact -->
                                <ins class="adsbygoogle"
                                   style="display:block"
                                   data-ad-client="ca-pub-4268093070731551"
                                   data-ad-slot="5117010229"
                                   data-ad-format="auto"></ins>
                                <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                              </div>
                          </article>



                            <% @articles.each do |b| %>
                            <div class="col-md-6 mb-30">
                                <article class="post-wrapper transition mb-20">
                                    <header class="post-header">
                                        <div class="post-thumbnail">
                                            <%= link_to article_path(b) do %>
                                                <%= image_tag "blog-img-4.jpg" %>
                                            <% end %>
                                        </div>
                                    </header>
                                    <div class="blog-content transition">
                                        <div class="blog-date">
                                            <span><%= b.created_at.strftime("%d %b %Y") %></span>
                                        </div>

                                        <div class="entry-header mb-20">
                                          <%= link_to article_path(b) do %>
                                            <h2 style="font-size: 120%; line-height: 35px;">
                                                <%= b.title  %>
                                            </h2>
                                          <% end %>
                                        </div>
                                        <div class="blog-autthor">
                                            <a href="#"><span>BY</span> SATRIYO UNGGUL</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <% end %>

                        </div> <!-- /.post-content -->

                        <!-- pagination -->
                        <div class="page-pagination">
                            <nav aria-label="Page navigation">

                            </nav>
                        </div>
                        <!-- pagination -->


                    </div> <!-- /.col-md-8 -->

                    <div class="col-md-4">
                      <div class="tt-sidebar-wrapper">
                      <%= render 'layouts/widget' %>
                      <%= render 'layouts/widgetiklan' %>


                      </div> <!-- /.tt-sidebar-wrapper -->
                    </div> <!-- /.col-md-4 -->
                </div> <!-- /.row -->
            </div>
        </section>
