

        <section class="section-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-content">
                            <article class="post-wrapper transition mb-20">
                              <div class="transition">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- honeyfact -->
                                <ins class="adsbygoogle"
                                   style="display:block"
                                   data-ad-client="ca-pub-4268093070731551"
                                   data-ad-slot="5117010229"
                                   data-ad-format="auto"></ins>
                                <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                              </div>
                          </article>



                          <% @articles.each_slice(3) do |a| %>
                            <% a.each do |b| %>
                            <article class="post-wrapper transition mb-20">
                                <header class="post-header">
                                    <div class="post-thumbnail">
                                        <a href="single-blog-right-sidebar.html">
                                            <%= image_tag "blog-img-1.jpg" %>
                                        </a>
                                    </div>
                                </header>
                                <div class="blog-content transition">
                                    <div class="entry-header mb-20">
                                        <h2 style="font-size: 120%; line-height: 35px;">
                                            <%= b.title %>
                                        </h2>
                                    </div>
                                    <div class="entry-content link-arrow-ltr" id="mobileshow">
                                        <p>Trained as industrial designers we have a deep-rooted belief in rational function and sustainable aesthetics. Our methodical approach is focused on revealing the essence of each design challenge to allow us to create.</p>
                                        <a href="single-blog-right-sidebar.html">Read More <img src="assets/img/useful-link-right-arrow.png" alt=""></a>
                                        <%= link_to root_path do %><span> | <i class="fa fa-bookmark"></i> Edit </span> <% end %>
                                        <%= link_to root_path do %><span> | <i class="fa fa-history"></i> Hapus </span> <% end %>
                                    </div>
                                </div>
                            </article>
                            <% end %>

                            <article class="post-wrapper transition mb-20">
                              <div class="transition">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- honeyfact -->
                                <ins class="adsbygoogle"
                                   style="display:block"
                                   data-ad-client="ca-pub-4268093070731551"
                                   data-ad-slot="5117010229"
                                   data-ad-format="auto"></ins>
                                <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                              </div>
                          </article>


                            <% end %>

                        </div> <!-- /.post-content -->

                        <!-- pagination -->
                        <div class="page-pagination">
                            <nav aria-label="Page navigation">
                                <!-- <ul class="pagination">
                                    <li>
                                        <a class="pagination-prev" href="#" aria-label="Previous"><span class="fa fa-angle-left" aria-hidden="true"></span>Pre</a>
                                    </li>
                                    <li><a class="active-page" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a class="pagination-next" href="#" aria-label="Next">Next<span class="fa fa-angle-right"></span></a>
                                    </li>
                                </ul> -->
                            </nav>
                        </div>
                        <!-- pagination -->


                    </div> <!-- /.col-md-8 -->

                    <div class="col-md-4">
                      <div class="tt-sidebar-wrapper">
                      <%= render 'layouts/widget' %>
                      <div class="widget add-widget mb-50">
                              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- honeyfact -->
                              <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-4268093070731551"
                                 data-ad-slot="5117010229"
                                 data-ad-format="auto"></ins>
                              <script>
                              (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                      </div>
                      </div> <!-- /.tt-sidebar-wrapper -->
                    </div> <!-- /.col-md-4 -->
                </div> <!-- /.row -->
            </div>
        </section>
