
<section class="section-padding-70">
            <div class="container">

              <%= form_for @articles do |f| %>


                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= f.label :title %>
                      <%= f.text_field :title, class: "form-control"  %>
                    </div>

                  </div><!-- /.col-md-4 -->

                  <div class="col-md-4">
                    <div class="form-group">
                      <%= f.label :keywords %>
                      <%= f.text_field :keywords, class: "form-control" %>
                    </div>
                  </div><!-- /.col-md-4 -->

                  <div class="col-md-4">
                    <div class="form-group">
                      <%= f.label :tags %>
                      <%= f.text_field :tags, class: "form-control" %>
                    </div>
                  </div><!-- /.col-md-4 -->

                </div><!-- /.row -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :image %>
                      <%= f.text_field :image, class: "form-control" %>
                    </div>
                  </div><!-- /.col-md-4 -->

                  <div class="col-md-6">
                    <div class="form-group ">
                      <%= f.label :series %>
                      <%= f.collection_select(:series_id, @series, :id, :title, {:prompt=>true}, {:class=>'form-control'}) %>
                    </div>
                  </div><!-- /.col-md-4 -->
                </div>

                <div class="form-group" data-no-turbolink>
                  <%= f.label :content %>
                  <%= f.text_area :content, placeholder: "Your Content", class: "ckeditor" %>
                </div>

                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.text_area :description, class: "form-control" %>
                </div>

                  <div class="text-right">
                      <%= f.submit 'save', class: "btn btn-primary" %>
                  </div>

              <% end %>


            </div>
        </section>
